<div class="filters-container">
  <label>
    Empresa:
    <input type="text" [(ngModel)]="filters.companyName" placeholder="Empresa">
  </label>

  <label>
    Tipo de Contrato:
    <select [(ngModel)]="filters.contractType">
      <option value="">Todos</option>
      <option value="CLT">CLT</option>
      <option value="PJ">PJ</option>
      <option value="Freelancer">Freelancer</option>
    </select>
  </label>

  <label>
    Senioridade:
    <select [(ngModel)]="filters.seniority">
      <option value="">Todas</option>
      <option value="Júnior">Júnior</option>
      <option value="Pleno">Pleno</option>
      <option value="Sênior">Sênior</option>
    </select>
  </label>

  <label>
    Salário Mínimo:
    <input type="number" [(ngModel)]="filters.minSalary" placeholder="R$">
  </label>

  <label>
    Salário Máximo:
    <input type="number" [(ngModel)]="filters.maxSalary" placeholder="R$">
  </label>

  <label>
    Ativo:
    <select [(ngModel)]="filters.isActive">
      <option value="">Todos</option>
      <option value="true">Sim</option>
      <option value="false">Não</option>
    </select>
  </label>

  <button (click)="applyFilters()">Aplicar Filtros</button>
  <button (click)="resetFilters()">Limpar</button>
</div>

<!-- Listagem de Vagas -->
<div *ngFor="let job of jobs" class="job-card">
  <div class="job-header">
    <img src="https://t.ctcdn.com.br/JlHwiRHyv0mTD7GfRkIlgO6eQX8=/640x360/smart/i257652.jpeg" alt="Company Logo" class="company-logo">
    <div>
      <h2>{{ job.title }}</h2>
      <p class="company-name-title">{{ job.company.name }}</p>
    </div>
  </div>
  <div class="job-details">
    <p><strong>Descrição:</strong> {{ job.description }}</p>
    <p><strong>Requisitos:</strong></p>
    <ul>
      <li *ngFor="let requirement of job.requirements">{{ requirement }}</li>
    </ul>
    <p><strong>Tipo de Contrato:</strong> {{ job.contractType }}</p>
    <p><strong>Salário:</strong> {{ job.salary | currency }}</p>
    <p><strong>Senioridade:</strong> {{ job.seniority }}</p>
    <p><strong>Postado em:</strong> {{ job.createdAt | date: 'fullDate' : 'pt-BR' }}</p>
    <p><strong>{{ job.applications.length }} candidaturas</strong></p>
  </div>

  <button (click)="applyToJob(job.id)">Candidatura simplificada</button>
</div>

<div *ngIf="jobs.length === 0" class="no-jobs">
  Nenhuma vaga disponível no momento.
</div>

<!-- Paginação -->
<div class="pagination-container">
  <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
  <span>Página {{ currentPage }} de {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Próxima</button>
</div>
