$primary-color: #00a3ff;

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.text {
  justify-content: center;
  color: #fff;
}

mat-toolbar {
  background-color: $primary-color;
}
